{
    "parser": "babel-eslint",
    "extends": ["standard"],
    "env": {
        "jasmine": true
    },
    "rules": {
        "semi": [2, "always"],
        "indent": ["error", 4],
        "quotes": ["error", "double"],
        "comma-dangle": [
            "error",
            {
                "objects": "always-multiline"
            }
        ]
    }
}
